/* You can add global styles to this file, and also import other style files */
body{
    background-color: #17a2b8 !important;
    /* background-image: url("assets/e.jpg"); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}